.blob{animation:move 4s infinite;
    animation-delay: 2s;
}
@keyframes move{
    0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
  
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    flex-wrap: wrap;
}
.card{
	
    position: relative;
    width: 300px;
    height: 525px;
    cursor: pointer;
    border-radius: 16px;
    box-shadow: 0 0 13px 0px rgba(0,0,0,.3);
    transition: .5s;
    overflow: hidden;
    margin: 1.15rem;
}
/* .card:hover{
    height: 450px;
} */

.card img{
    width: 100%;
    border-radius: 16px;
    transition: 2.5s;
}
.card:hover img{
    border-radius: 16px 16px 0 0;
}

.card .card-body{
    padding: .5rem .85rem 1rem;
    height: 0;
}

.card .card-body h6{
    margin: .5rem 0;
    font-size: .85rem;
    color: crimson;
    letter-spacing: 3px;
}

.card .card-body p{
    text-align: justify;
    font-size: .9rem;
    line-height: 25px;
}

.card .card-body div{
    text-align: right;
    width: 100%;
}

.card .card-body div a{
    position: relative;
    text-decoration: none;
    color: #526ffd;
    padding: .5rem;
    text-align: center;
    z-index: 999;
    font-size: .85rem;
}

.card .card-body div a::before{
    position: absolute;
    content: '';
    width: 13px;
    height: 13px;
    background: #526ffd;
    border-radius: 300px;
    left: -13px;
    top: 3px;
    z-index: -1;
    transition: 2.3s;
}

.card .card-body div a:hover{
    color: #fff;
}

.card .card-body div a:hover::before{
    width: 100%;
    height: 88%;
    left: 0;
}